html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: linear-gradient(90deg, #7b1fa2 0%, #4a148c 100%);
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  margin: 1rem;
}

.subtitle {
  text-align: center;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sidebar-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo-left-animation {
  animation: spin-left 5s linear infinite;
}

.logo-right-animation {
  animation: spin-right 5s linear infinite;
}

@keyframes spin-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-right {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: solid 1px #fff;
}

img {
  height: 15px;
  padding: 1rem;
}

section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

section main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1rem;
  background-color: transparent;
  border: solid 3px #ffa260;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translateY(-0.35em);
}

.collapsible {
  overflow: hidden;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
  opacity: 1;
  max-height: 1000px;
  display: flex;
}

.collapsible.collapsed {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

.hidden {
  display: none;
}
