html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.fun-mode {
  background: linear-gradient(90deg, #7b1fa2 0%, #4a148c 100%);
  color: white;

  & h1 {
    font-size: 1.75rem;
    text-align: center;
    margin: 1rem;
  }

  & .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  button {
    font-size: 1rem;
    background-color: transparent;
    border: solid 3px #ffa260;
    color: white;
    border-radius: 5px;
  }

  button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
    transform: translateY(-0.35em);
  }
}

.dreary-mode {
  background: #fff;
  color: #000;

  & .sidebar-header {
    background: -webkit-linear-gradient(#00593d, #007a54);
    color: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    & h1 {
      /* font-size: 0.8rem; */
      text-align: center;
    }

    & img {
      display: none;
    }
  }

  & section {
    padding: 0;
    & header {
      width: 100%;
      background-color: rgb(223, 240, 216);
      justify-content: center;
      padding: 0;

      & h2 {
        color: rgb(13, 119, 100);
        font-size: 1rem;
      }

      & img {
        filter: invert(1);
      }
    }

    & main {
      padding: 0 0 1rem 0;
      background-color: #fff;

      & button {
        color: rgb(33, 37, 41);
        border: solid 1px rgb(33, 37, 41);
        border-radius: 4px;
        font-size: 0.75rem;
        background-color: #fff;
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
      }

      button.more-info {
        font-size: 0.5rem;
      }

      & button:hover {
        background-color: rgb(33, 37, 41);
        color: #fff;
      }

      & button:active {
        transform: translateY(1px);
      }
    }
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  text-align: center;
}

.sidebar-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo-left-animation {
  animation: spin-left 5s linear infinite;
}

.logo-right-animation {
  animation: spin-right 5s linear infinite;
}

@keyframes spin-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-right {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: solid 1px #fff;
}

img {
  height: 15px;
  padding: 1rem;
}

section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

section main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.collapsible {
  overflow: hidden;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
  opacity: 1;
  max-height: 1000px;
  display: flex;
}

.collapsible.collapsed {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

.hidden {
  display: none;
}

.subtitle {
  font-size: 0.65rem;
  padding: 0;
  margin-bottom: 1rem;
}

.steps {
  text-align: left;

  & ol {
    margin: 0;
  }

  & li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.15rem;
  }
}

.sidebar-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  text-align: right;
  position: fixed;
  bottom: 10px;
  width: 100%;

  & button {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
  }

  & button:active {
    transform: translateY(1px);
  }

  & a {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: rgb(33, 37, 41);
  }

  & a:active {
    transform: translateY(1px);
  }
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  font-size: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;

  & button {
    color: rgb(33, 37, 41);
    border: solid 1px rgb(33, 37, 41);
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: #fff;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }

  & button:hover {
    background-color: rgb(33, 37, 41);
    color: #fff;
  }

  & button:active {
    transform: translateY(1px);
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & a {
    color: #fff;
    text-decoration: none;

    & #back-button {
      margin: 0 0.5rem;
      font-size: 0.8rem;
      text-align: center;
      border: solid 1px #fff;
      border-radius: 4px;
      font-size: 0.8rem;
      transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    & #back-button:hover {
      background-color: #fff;
      color: rgb(33, 37, 41);
    }

    & #back-button:active {
      transform: translateY(1px);
    }
  }

  & main {
    padding: 1rem;
    font-size: 1rem;

    & h2 {
      text-align: center;
    }
  }

  & li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
  }
}

#about-details {
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
  margin: 0 0 1rem 0;
}
