:root {
  --header-background: linear-gradient(135deg, #00593d, #007a54);
  --section-header-background: #d4edda;
  --button-background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  --toggle-background-active: #4cd137;
  --toggle-background-inactive: #ccc;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
}

.sidebar-header {
  background: var(--header-background);
  color: #fff;
  padding: 0;
  width: 100%;

  & main {
    display: flex;
    justify-content: center;
    text-align: center;
    & h1 {
      text-align: center;
    }

    & img {
      height: 40px;
    }
  }

  & footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #fff;
    font-size: 0.8rem;

    p {
      margin: 0.25rem;
    }
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: solid 1px #fff;
  padding: 0;
}

img {
  height: 15px;
  padding: 1rem;
}

section header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--section-header-background);
  padding: 0;
}

section h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: rgb(13, 119, 100);
  font-size: 1rem;
}

section img {
  filter: invert(1);
}

section main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
  background-color: #fff;
}

button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: var(--button-background);
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s;
}

button.more-info {
  font-size: 0.5rem;
}

button:hover {
  background: linear-gradient(135deg, #e9ecef, #dee2e6);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  background: linear-gradient(135deg, #dee2e6, #ced4da);
  transform: translateY(1px);
}

.collapsible {
  overflow: hidden;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
  opacity: 1;
  max-height: 1000px;
  display: flex;
}

.collapsible.collapsed {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

.hidden {
  display: none;
}

.subtitle {
  font-size: 0.65rem;
  padding: 0;
  margin-bottom: 1rem;
}

.sidebar-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: right;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: var(--header-background);

  & a {
    color: white;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;

    border: none;
    text-decoration: none;
  }

  & a:active {
    transform: translateY(1px);
  }
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  font-size: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;

  & button {
    color: rgb(33, 37, 41);
    border: solid 1px rgb(33, 37, 41);
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: #fff;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }

  & button:hover {
    background-color: rgb(33, 37, 41);
    color: #fff;
  }

  & button:active {
    transform: translateY(1px);
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & a {
    color: #fff;
    text-decoration: none;

    & #back-button {
      margin: 0 0.5rem;
      font-size: 0.8rem;
      text-align: center;
      border: solid 1px #fff;
      border-radius: 4px;
      font-size: 0.8rem;
      transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    & #back-button:hover {
      background-color: #fff;
      color: rgb(33, 37, 41);
    }

    & #back-button:active {
      transform: translateY(1px);
    }
  }

  & main {
    padding: 1rem;
    font-size: 1rem;

    & h2 {
      text-align: center;
    }
  }

  & li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
  }
}

#about-details {
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
  margin: 0 0 1rem 0;
}

.toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-switch {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  width: 40px;
  height: 20px;
  background-color: var(--toggle-background-inactive);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-label:after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-switch:checked + .toggle-label {
  background-color: var(--toggle-background-active);
}

.toggle-switch:checked + .toggle-label:after {
  transform: translateX(20px);
}

.toggle-label:active {
  background-color: var(--toggle-background-active);
}

.toggle-text {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  max-width: 100px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  background-color: rgb(33, 37, 41);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.countdown-alert {
  background-color: rgb(231, 93, 93);
  padding: 0.25rem;
  border-radius: 0.5rem;
}
