h1 {
  font-size: 1.5em;
  text-align: center;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  overflow-y: auto;
}

.book {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .book img {
  max-width: 100px;
  margin-right: 8px;
} */

.book p {
  margin: 4px 0;
}

.due-date-span {
  font-weight: bold;
}

.title-span {
  font-style: italic;
}

.overdue {
  background-color: red;
  color: white;
  font-weight: bold;
}

.due-soon {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.remove-button {
  margin-left: 10px;
  font-size: 12px;
  padding: 2px 6px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
