/* Styles for the hold error button */
.hold-records-list .col-lg-2 > .alert.alert-danger {
  background-color: #d61f2c !important;
  border-color: #d61f2c !important;
  color: #fff !important;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  text-wrap: break-word;
  text-align: center;
}

.hold-records-list .col-lg-2 > .alert.alert-danger::before {
  font-size: 1.5rem;
  content: "Warning: ";
  font-weight: bold;
  color: #fff;
  background-color: #d61f2c;
}

.hold-records-list .col-lg-2 > .alert.alert-danger::after {
  font-size: 1.5rem;
  content: "Hold not yet placed!";
  font-weight: bold;
  color: #fff;
  background-color: #d61f2c;
}

/* Styles for the 'Override' button column */
.hold-records-list .col-lg-2:has(.alert.alert-danger) + div {
  display: flex;
  justify-content: center;
}

.hold-records-list .col-lg-2:has(.alert.alert-danger) + div > button {
  background-color: #28a745 !important;
  padding: 1rem !important;
  margin: 1rem 0 !important;
  border-radius: 1rem !important;
  font-size: 1.5rem !important;
  text-wrap: break-word !important;
  text-align: center !important;
}
