html {
  border-radius: 50px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  min-width: 500px;
  padding: 1rem;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(90deg, #7b1fa2 0%, #4a148c 100%);
  color: white;
  border-radius: 50px;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 10px;
}

a {
  color: #0073aa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

td {
  padding: 0.5rem;
  text-align: center;
}

#logo-left {
  animation: spin-left 5s linear infinite;
}

#logo-right {
  animation: spin-right 5s linear infinite;
}

@keyframes spin-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-right {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
